/.idea/.gitignore
/Axis/.idea/Axis.iml
/.idea/misc.xml
/Axis/.idea/misc.xml
/.idea/modules.xml
/Axis/.idea/modules.xml
/.idea/inspectionProfiles/profiles_settings.xml
/Axis/.idea/inspectionProfiles/profiles_settings.xml
/.idea/Python.iml
/.idea/vcs.xml
/Axis/.idea/workspace.xml
/Esame_14-10-19/DUEsercizioBLivello2V1BraniMusicaliPython3/.idea/DUEsercizioBLivello2V1BraniMusicaliPython3.iml
/Esame_14-10-19/DUEsercizioBLivello2V1BraniMusicaliPython3/.idea/misc.xml
/Esame_14-10-19/DUEsercizioBLivello2V1BraniMusicaliPython3/.idea/modules.xml
/Esame_14-10-19/DUEsercizioBLivello2V1BraniMusicaliPython3/.idea/inspectionProfiles/profiles_settings.xml
/Esame_14-10-19/DUEsercizioBLivello2V1BraniMusicaliPython3/.idea/workspace.xml
